<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders(number, status, user_id, address_book_id, order_time, pay_method,
               pay_status, amount, remark, phone, address, user_name, consignee, estimated_delivery_time,
               delivery_status,  pack_amount, tableware_number, tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{payMethod},
            #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{estimatedDeliveryTime},
            #{deliveryStatus}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <select id="getByNumber" resultType="com.sky.entity.Orders">
        select * from orders where number = #{number}
    </select>

    <update id="update">
        update orders
        <set>
            <if test="number != null"> number=#{number}, </if>
            <if test="status != null"> status=#{status}, </if>
            <if test="addressBookId != null"> address_book_id=#{addressBookId}, </if>
            <if test="orderTime != null"> order_time=#{orderTime},</if>
            <if test="checkoutTime != null"> checkout_time=#{checkoutTime}, </if>
            <if test="payMethod != null"> pay_method=#{payMethod}, </if>
            <if test="payStatus != null"> pay_status=#{payStatus}, </if>
            <if test="amount != null"> amount=#{amount}, </if>
            <if test="remark != null"> remark=#{remark}, </if>
            <if test="phone != null"> phone=#{phone}, </if>
            <if test="address != null"> address=#{address}, </if>
            <if test="userName != null"> user_name=#{userName}, </if>
            <if test="consignee != null"> consignee=#{consignee} ,</if>
            <if test="cancelReason != null"> cancel_reason=#{cancelReason}, </if>
            <if test="rejectionReason != null"> rejection_reason=#{rejectionReason}, </if>
            <if test="cancelTime != null"> cancel_time=#{cancelTime}, </if>
            <if test="estimatedDeliveryTime != null"> estimated_delivery_time=#{estimatedDeliveryTime}, </if>
            <if test="deliveryStatus != null"> delivery_status=#{deliveryStatus}, </if>
            <if test="deliveryTime != null"> delivery_Time=#{deliveryTime}, </if>
            <if test="packAmount != null"> pack_amount=#{packAmount},</if>
            <if test="tablewareNumber != null"> tableware_number=#{tablewareNumber}, </if>
            <if test="tablewareStatus != null"> tableware_status=#{tablewareStatus}, </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateStatus">
        update orders set status=#{status}, pay_status=#{payStatus}, checkout_time=#{checkoutTime} where id=#{id}
    </update>

    <select id="getById" resultType="com.sky.entity.Orders">
        select * from orders where id=#{id}
    </select>

    <select id="page" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null and number != ''">
                and number = ('%',#{number},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = ('%',#{phone},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null and endTime != null">
                and order_time between #{beginTime} and #{endTime}
            </if>
            <if test="beginTime != null">
--                  这是&gt;=是 >= 的意思，下面同理
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

    <select id="countOrders" resultType="java.lang.Integer">
        select count(*) from orders where status = #{status}
    </select>

    <select id="processTimeoutOrders" resultType="com.sky.entity.Orders">
        select * from orders where status = #{status} and order_time &lt; #{orderTime}
    </select>

    <select id="getTurnover" resultType="java.lang.Double">
        select sum(status) from orders
        <where>
        <if test="begin != null and end != null">
            order_time between #{begin} and #{end}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        </where>
    </select>

    <select id="getOrderCount" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="begin != null and end != null">
                order_time between #{begin} and #{end}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="getOrderIdList" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="begin !=null and end != null">
                order_time between #{begin} and #{end}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>
